<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccessingDBS.Properties.Settings.EmployeeConnectionString"
            connectionString="Data Source=DESKTOP-TG2D98G\SQLEXPRESS;Initial Catalog=CompanyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>